.employee-box {
    color: #323238;
    text-align: left;
    margin: 15px;
    line-height: 0.5;
    border-bottom: 1px solid var(--primary-gray);
}

.employee-box p {
    font-size: 14px;
    color: var(--dark-gray);
}

.current-emp {
    color: var(--primary-color);
    text-align: left;
    font-weight: 500;
    padding: 20px 10px;
    background-color: var(--primary-gray);
    font-size: 16px;
}