.all-employees {
    background-color: var(--primary-gray);
}
.sub-container {
    background-color: white;
}

.sub-container .swipeable-list {
    /* padding: 10px 0; */
}
.employee-box {
    width: 100%;
    position: relative;
    color: #323238;
    text-align: left;
    margin: 15px;
    line-height: 0.5;
}

.employee-box p {
    font-size: 14px;
    color: var(--dark-gray);
}

.current-emp {
    color: var(--primary-color);
    text-align: left;
    font-weight: 500;
    padding: 15px 10px;
    font-size: 16px;
}

.swipe-text {
    font-size: 14px;
    text-align: left;
    margin: 10px;
    color: var(--dark-gray);
}

.edit-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    font-size: 20px !important;
    text-align: right;
    color: var(--primary-color) !important;
}

.swipe-dlt {
    background-color: red;
}

.swipe-dlt img {
    position: absolute;
    top: 35%;

}

.swipeable-list-item {
    border-bottom: 1px solid var(--primary-gray);
    height: 90px !important;
    padding: 10px 0;
}