/* Define the primary color variable */
:root {
  --primary-color: #1DA1F2;
  --gray-color: #ddd;
}

.App {
  text-align: center;
}

main {
  /* position: relative; */
  padding-top: 100px; /* Adjust as needed based on your navbar height */
}

